<!-- Begin page -->
<div id="wrapper" class=" forced">


    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
                <flash-messages></flash-messages>
                <router-outlet></router-outlet>
            </div>
            <!-- end container -->
        </div>
        <!-- end content -->
        <app-footer></app-footer>
    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->
    <app-right-bar></app-right-bar>